$background-color-dark-blue: #445162;
$background-color-light-grey: #f5f5f5;
$color-white: #ffffff;
$common-title-color: #445161;



.App {
  width: 100%;
  display: flex;
  flex-direction: column;
}


.title-h2 {
  color: $common-title-color;
  font-size: 30px;
  font-weight: 400;
  text-align: center;
}

.content-wrapper {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}


//product-name

.product-name {
  background-color: $background-color-dark-blue;
  color: $color-white;
  padding: 45px 0;

}


.product-name-wrapper {
  display: flex;

}

.product-name__text-wrapper {
  width: 100%;
  max-width: 640px;
}

.product-name__title {
  font-size: 60px;
  font-weight: 400;
  margin: 0 0 45px 0;
}

.product-name__list {
  list-style: none;
  padding: 0;
  position: relative;
}

.product-name__item {
  font-size: 20px;
  &:before {
    content: "\2713";
    padding-right: 5px;
  }
}

.product-name__image-wrapper {
  width: 100%;
  max-width: 640px;
  display: flex;
  justify-content: flex-end;
}

.product-name__image {
  width: 470px;
  height: 215px;
  background-color: white;

}



//product-features
.product-features {
  background-color: $background-color-light-grey;
}


//contacts

.contacts {
  background-color: $background-color-dark-blue;
  color: $color-white;

}

.contacts-title {
  color: $color-white;
}




// footer
.footer {
  background-color: $background-color-light-grey;
}

.footer-wrapper {
  text-align: center;
}



//.App-logo {
//  height: 40vmin;
//  pointer-events: none;
//}
//
//@media (prefers-reduced-motion: no-preference) {
//  .App-logo {
//    animation: App-logo-spin infinite 20s linear;
//  }
//}
//
//.App-header {
//  background-color: #282c34;
//  min-height: 100vh;
//  display: flex;
//  flex-direction: column;
//  align-items: center;
//  justify-content: center;
//  font-size: calc(10px + 2vmin);
//  color: white;
//}
//
//.App-link {
//  color: #61dafb;
//}
//
//@keyframes App-logo-spin {
//  from {
//    transform: rotate(0deg);
//  }
//  to {
//    transform: rotate(360deg);
//  }
//}
//

