//@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;700&display=swap');
//@font-face {
//  font-family: 'Arial';
//  src: local('Arial'), url(../assets/Arial/ArialRegular/ArialRegular.ttf) format('truetype');
//}